.DS_Store
.sass-cache
html/css_2/styles.css.map
*.*~
*.user
*.autosave
*.user.*
.idea/
*.gcov
cmake-build-debug/
ext/restbed/dependency/catch/
ext/restbed/distribution/
build
.cproject
.project
.settings/
.vscode/
error.log
*.code-workspace
